body {
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5em;
    padding: 0;
    margin: 0;
    background-color: #f4f4f4;
}

.container {
    width: 80%;
    margin: auto;
}

ul {
    margin: 0;
    padding: 0;
}

header {
    background: #35424a;
    color: #fff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: 3px solid #ffc600;
}

header a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

header li {
    display: inline;
    padding: 0 20px;
}

header .branding {
    float: left;
}

header nav {
    float: right;
    margin-top: 25px;
}

header .highlight {
    color: #ffc600;
    font-weight: bold;
}

header a:hover {
    color: #ffc600;
}

#showcase {
    min-height: 400px;
    padding-top: 20px;
    margin-top: 0px;
    background: url('./images/showcase.jpg');
    background-repeat: no-repeat;
    background-position: 0 -500px;
    text-align: center;
    color: #fff;
}

#showcase h1 {
    margin-top: 10px;
    font-size: 42px;
    margin-bottom: 10px;
}

#showcase p {
    font-size: 15px;
}

#boxes {
    margin-top: 20px;
}

#boxes .box {
    float: left;
    text-align: center;
    width: 30%;
    padding: 10px;
    margin-bottom: 80px;
}

#boxes .box img {
    width: 90px;
}

footer {
    padding: 10px;
    margin-top: 5px;
    color: #fff;
    background-color: #ffc600;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

footer p {
    color: black;
    font-size: 18px;
}

aside#sidebar {
    float: right;
    width: 35%;
    margin-top: 10px;
}

article#main-col {
    float: left;
    width: 55%;
}

aside#sidebar1 {
    float: right;
    width: 35%;
    margin-top: 10px;
}

article#main-col1 {
    float: left;
    width: 65%;
    margin-right: auto;
}

.dark1 {
    padding: 15px;
    background: #35424a;
    color: #fff;
    margin-top: 50px;
    margin-right: 40px;
}

.dark {
    padding: 15px;
    background: #35424a;
    color: #fff;
    margin-top: 10px;
    margin-bottom: 10px;
}

#primary .box-mode {
    font-size: 13px;
    width: 65%;
    border: solid 1px grey;
    padding: 10px;
    margin-bottom: 10px;
    background-color: lightgrey;
    margin-right: 10px;
}

#box-mode3 {
    font-size: 13px;
    width: 65%;
    border: solid 1px grey;
    padding: 10px;
    margin-bottom: 90px;
    margin-right: 10px;
    background-color: lightgrey;
}

.my-form {
    padding: 20px;
}

.my-form .form-group {
    padding-bottom: 15px;
}

.my-form label {
    display: block;
}

.my-form .input-types {
    width: 90%;
    padding: 8px;
}

.button {
    padding: 10px 16px;
    border: none;
    background-color: #ffc600;
    color: white;
    font-size: 1rem;
    text-transform: uppercase;
    border-radius: 5px;
}

.button:hover {
    background-color: lightgray;
    cursor: pointer;
}


@media(max-width: 768px) {

    header .branding,
    header nav,
    #boxes .box,
    article#main-col,
    article#main-col1,
    aside#sidebar,
    #primary .box-mode,
    #box-mode3,
    aside#sidebar1 {
        float: none;
        text-align: center;
        width: 100%;
    }

    aside#sidebar {
        margin-bottom: 120px;
    }

    aside#sidebar1 {
        margin-bottom: 120px;
        margin-left: 30px;
    }

    #showcase h1 {
        font-size: 25px;
    }

    #showcase p {
        font-size: 18px;
    }

    #boxes .box:nth-child(3) {
        margin-bottom: 80px;
    }
}